/* 
FONTS:
- ROBOTO: font-weight:500 400 900 700

- RALEWAY(in logo only): font-weight: 700.

accent color #2196F3
<h> color #212121 
<p> color #757575

*/

:root {
  --main-font: "roboto", sans-serif;
  --secondary-font: "raleway", sans-serif;
  --accent-color: #2196f3;
  --accent-color-opacity: rgba(33, 150, 243, 0.9);
  --title-color: #212121;
  --text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --background-color: #fff;
  --secondary-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --p-section: 94px;
  --cards-margin: 30px;
  --cards-margin-negative: -30px;
  --icon-fill: #afb1b8;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  /* --pb-section: 94px; */
}

body {
  margin-left: auto;
  margin-right: auto;

  font-family: var(--main-font);
  background-color: #ffffff;
  color: var(--title-color);

  /* width: 1600px; */
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;

  overflow: hidden;
}
/*============ базовый сброс ============*/

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: inherit;
}

.address {
  font-style: normal;
}

.list {
  list-style: none;
}
/*============== end базовый сброс =======*/

/*============== components ==============*/

.logo {
  display: inline;
  margin-right: 93px;

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-black {
  color: var(--title-color);
}
.logo-white {
  color: #ffffff;
}

.title {
  font-weight: 700;
  letter-spacing: 0.03em;
}
.section-title {
  text-align: center;
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
}

.text-desc {
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;

  /* outline: 1px solid yellowgreen; */
}

.section {
  width: 1600px;
  margin-right: auto;
  margin-left: auto;
  padding: var(--p-section) 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  scale: ;
  transform: skew(0deg);

  background-color: rgba(0, 0, 0, 0.2);

  transition: scale 1000ms var(--transition-timing),
    opacity 1000ms var(--transition-timing),
    visibility 1000ms var(--transition-timing),
    pointer-events 1000ms var(--transition-timing),
    transform 1000ms var(--transition-timing);
}

/*============  end components =============*/

/*============== HEADER ==============*/

.header {
  display: flex;
  border-bottom: 1px solid #ececec;

  background-color: var(--background-color);

  /* width: 1600px;
  margin: 0 auto; */
}

.header .container {
  display: flex;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  align-items: center;
}
.site-nav-link {
  position: relative;
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav-link,
.our-contact {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);

  transition: color 250ms var(--transition-timing);
  /*
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  */
}
.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}
.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);

  animation-duration: 500ms;
  animation-name: zoomIn;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.header-contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.our-contact {
  display: flex;
  align-items: center;

  color: var(--text-color);
}
.email-icon {
  margin-right: 10px;

  fill: currentColor;
}
.phone-icon {
  margin-right: 10px;

  fill: currentColor;
}
.in-header {
  font-weight: 500;
}
.in-header:hover,
.in-header:focus {
  color: var(--accent-color);
}

/*============== END HEADER ==============*/

/*============== HERO =================*/

.hero-section {
  text-align: center;
  padding: 200px 0px;

  background-color: #2f303a;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/hero-bg-img.jpg);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  min-width: 200px;
  padding: 10px 32px;
  margin-top: 30px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0px;
  cursor: pointer;

  font-weight: 900;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  transition: background-color 250ms var(--transition-timing);
  /*
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/*============== END HERO =================*/

/*============== FEATURES =================*/

.feature-title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features-list {
  display: flex;
  width: 1200px;
  margin-left: -30px;
}
.features-list-item {
  margin-left: 30px;
  flex-basis: calc(100% / 4 - 30px);
}
.features-list-item .feature-desc {
  font-size: 14px;
  line-height: 1.71;
}

.icon-bg {
  width: 270px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--secondary-background-color);
}

/*============== END FEATURES =================*/

/*============== what we r doing ==============*/

.our-work-cards {
  width: 1200px;
  display: flex;
  margin-left: -30px;
}
.our-work-card {
  margin-left: 30px;
}

.our-work-wrapper {
  position: relative;
}
.our-work-wrapper > p {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 28px 0;

  color: var(--background-color);
  background-color: rgba(47, 48, 58, 0.8);
  text-align: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
/*============== END what we r doing ==============*/

/*============== OUR TEAM =====================*/

.our-team-section {
  background-color: var(--secondary-background-color);
}
.team-members {
  width: 1200px;
  display: flex;
  margin-left: -30px;

  text-align: center;
}
.team-member-card {
  margin-left: 30px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-member-title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.team-member-desc {
  padding: 30px 30px;

  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
}

.profession-desc {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.18;
}
.social-icons-list {
  display: flex;
  justify-content: space-between;
}
.social-icon-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  fill: var(--icon-fill);

  transition: background-color 250ms var(--transition-timing),
    fill 250ms var(--transition-timing);
  /*transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.social-icon-link:hover,
.social-icon-link:focus {
  background-color: var(--accent-color);
  fill: var(--background-color);
}

/*============== END OUR TEAM =====================*/

/*============== OUR CLIENTS ======================*/
.clients-icons-list {
  display: flex;
}

.clients-list-item:not(:last-child) {
  margin-right: 30px;
}

.client-icon-link {
  display: flex;
  width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;

  border: 1px solid var(--icon-fill);
  border-radius: 4px;
  fill: var(--icon-fill);

  transition: fill 250ms var(--transition-timing),
    border 250ms var(--transition-timing);
  /*transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}

.client-icon-link:hover,
.client-icon-link:focus {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
}

/*============== END OUR CLIENTS ==================*/
/*============== PORTFOLIO ========================*/

.portfolio-project-title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-desc {
  font-size: 16px;
  line-height: 1.8;
}

.filter-buttons-list {
  display: flex;
  justify-content: center;
  margin-left: -8px;
  margin-bottom: 50px;

  /* outline: 0.5px solid green; */
}
.button {
  margin-left: 8px;
}
.filter-button {
  padding: 6px 22px;

  font-weight: 500;
  border: 0.5px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  transition: background-color 250ms var(--transition-timing),
    color 250ms var(--transition-timing),
    box-shadow 250ms var(--transition-timing);
  /*transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.filter-button:hover,
.filter-button:focus {
  background-color: var(--accent-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list {
  width: 1200px;
  display: flex;
  flex-wrap: wrap;
  margin-left: var(--cards-margin-negative);
  margin-top: var(--cards-margin-negative);
}
.portfolio-list-item {
  margin-top: var(--cards-margin);
  margin-left: var(--cards-margin);
  flex-basis: calc(100% / 3 - 30px);
}
.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;

  width: 101%;
  height: 101%;
  padding: 64px 24px;

  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  background-color: var(--accent-color-opacity);
  color: #ffffff;

  transform: translateY(101%);
  transition: transform 250ms var(--transition-timing);
  /*transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  transform: translateY(0%);
}

.portfolio-link {
  display: inline-block;

  transition: box-shadow 250ms var(--transition-timing);
  /*transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item-desc-wrapper {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

/*============== END PORTFOLIO ========================*/

/*============== FOOTER ==================*/
.footer {
  padding: 60px 0px;

  background-color: var(--footer-background-color);

  /* 
  width: 1600px;
  margin: 0 auto; 
  */
}
.footer .container {
  display: flex;
  align-items: baseline;
}

.address {
  margin-top: 20px;
}
.footer-contacts-wrapper {
  margin-right: 70px;
}
.footer-contact-item:not(:first-child) {
  margin-top: 10px;
}
.in-footer {
  color: var(--secondary-text-color);
}
.footer-maps-link {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-call-on {
  padding-bottom: 20px;

  text-transform: uppercase;
  color: var(--background-color);
  font-weight: 700;
}
.footer-social-list {
  display: flex;
}
.footer-social-list > li:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--background-color);

  transition: background-color 250ms var(--transition-timing);
  /*transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-form-wrapper {
  margin-left: auto;
}
.footer-form {
  display: flex;
  align-items: center;
}
.footer-form-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 16px 0 16px 16px;
  background-color: var(--footer-background-color);
  color: #fff;
}
.footer-form-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.footer-form-input:focus {
  border: 1px solid var(--accent-color);
  outline: none;
}
.footer-form-btn {
  display: flex;
  align-items: center;

  min-width: 200px;
  margin-left: 12px;
  padding: 10px 28px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  transition: background-color 250ms var(--transition-timing);
  /*
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #188ce8;
}
.footer-form-icon {
  margin-left: 10px;
  fill: #fff;
}
/*============== END FOOTER ============*/

/*============== MODAL =================*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  min-width: 528px;
  min-height: 580px;
  padding: 40px 40px 50px 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: var(--background-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  scale: 0;

  transform: translateY(-300%) skew(30deg);
}

.close-btn-modal {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: fill 250ms var(--transition-timing);
  /*transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.close-btn-modal:hover,
.close-btn-modal:focus {
  fill: var(--accent-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-call-on {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.modal-form-field {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-top: 10px;
}
.modal-form-field:first-child {
  margin-top: 12px;
}

.modal-form-input-wrapper {
  position: relative;
  margin-top: 4px;
  display: block;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 12px 0 12px 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 1.17;

  transition: border-color 250ms var(--transition-timing);
  /*transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.model-form-icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);

  padding: 3px;

  transition: fill 250ms var(--transition-timing);
  /*transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.icon-phone {
  padding: 2px;
}
.icon-mail {
  padding: 1px 1px;
}
.modal-form-input:focus + .model-form-icon {
  fill: var(--accent-color);
}

.form-comment {
  height: 120px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
}
.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-terms-wrapper {
  margin: 20px auto 0 auto;
  align-items: center;
  /* width: 425px; */
}
.form-terms {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  display: flex;
  align-items: center;
}
.form-terms::before {
  display: block;
  content: "";
  margin-right: 8px;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-checkbox.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
.modal-form-terms-checkbox:checked + .form-terms::before {
  background-image: url(../img/icon-checked.svg);
  border: none;
}
.modal-form-terms-checkbox:focus + .form-terms::before {
  box-shadow: 0 0 0 1.5px green;
}

.modal-form-btn {
  min-width: 200px;
  padding: 10px 55px;
  margin: 30px auto 0 auto;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  border: 0px;
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  transition: background-color 250ms var(--transition-timing);
  /*
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
  */
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #188ce8;
}

/*============== END MODAL =============*/ ;
